.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  height: 80vh;
}

.outbox {
  display: flex;
  width: 740px;
  height: 430px;

  background-color: #e1ebfa;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 390px;

  background-color: #e1ebfa;
  justify-content: center;
  align-items: center;
  text-align: 'center';
  cursor: pointer;
}

.box:hover {
  background-color: #9cafca;
}

.submitBtn {
  background-color: #e1ebfa;
  padding: 10px 20px;
  margin-top: 20px;
  margin: 0px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  width: 30%;
}
.submitBtn:hover {
  background-color: #9cafca;
}
