.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  /* background-color: rgb(207, 218, 240); */
  background-color: transparent;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 0px solid #cfdaf0;
  color: white;
  z-index: 2;
  cursor: default;
}

.headerScroll {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  /* background-color: rgb(207, 218, 240); */
  background-color: white;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 0px solid rgb(207, 218, 240);
  color: color;
  /* color: black; */
  z-index: 2;
  cursor: default;
}

.otherHeader {
  height: 50px;
  /* background-color: rgb(207, 218, 240); */
  background-color: rgba(233, 240, 247, 0.647);
  /* background-color: #5995fc52; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 0px solid rgb(207, 218, 240);
  color: black;
  /* color: black; */
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  margin-bottom: 30px;
  cursor: default;
}

.main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  align-items: center;
  cursor: pointer;
  margin: 0 20px;
  padding-top: 5px;
}

.header_nav {
  display: flex;
  cursor: pointer;
  list-style: none;
  padding: 0px;
  gap: 50px;
}

.header_nav > li:hover {
  color: #8a877b;
}

.login {
  margin: 0 30px;
  cursor: pointer;
}

.login:hover {
  color: #8a877b;
}

.img {
  width: 80px;
  height: 30px;
}

.hamburger {
  display: none;
}

@media (max-width: 790px) {
  .logo {
    display: none;
  }

  .modal_logo {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
  }
  .modal_login {
    cursor: pointer;
    font-family: 'NanumSquareRoundR';
    font-size: 12px;
    padding-bottom: 3px;
    color: #e0e0e0;
    border-bottom: 0.5px solid #c0c0c0;
    margin: 20px 0px;
  }
  .modal_login2 {
    cursor: default;
    font-family: 'NanumSquareRoundR';
    font-size: 12px;
    padding-bottom: 3px;
    color: #8a877b;
    border-bottom: 0.5px solid #c0c0c0;
    margin: 20px 0px;
  }

  .modal_login:hover {
    color: #8a877b;
  }

  .login {
    display: none;
  }

  .header_nav {
    display: none;
  }

  .header_nav2 {
    margin-top: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    list-style: none;
    padding: 0px;
    gap: 50px;
  }

  .header_nav2 > li:hover {
    color: #8a877b;
  }

  .hamburger {
    display: inline-block;
  }

  .header {
    padding: 0px 10px;
  }

  .headerScroll {
    padding: 0px 10px;
  }

  .otherHeader {
    padding: 0px 10px;
  }
}
