.container {
  width: 100%;
  max-width: 800px; /* 적당한 최대 너비 */
  margin: 20px auto; /* 중앙 정렬 */
  padding: 10px 0px; /* 포스트 리스트 내부 여백 */
  border-radius: 8px; /* 모서리 둥글게 */
  text-align: center;
}
.joinForm {
  width: 60%;

  padding: 30px, 20px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  border-radius: 15px;
}

.content_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
}

.joinForm h2 {
  text-align: center;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.value {
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 16px;
  height: 25px;
  background: none;
}

.submitBtn {
  background-color: #e1ebfa;
  padding: 10px 20px;
  margin-top: 20px;
  margin: 0px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  width: 30%;
}
.submitBtn:hover {
  background-color: #9cafca;
}

.img {
  width: 250px;
  height: 250px;
}
