.container {
  position: relative;
  z-index: 0;
}
.main_paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 50%; /* 원하는 위치에 맞게 조정하세요. */
  left: 50%; /* 원하는 위치에 맞게 조정하세요. */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 설정입니다. */
  color: white;
}

.main_paragraph > h1 {
  font-size: 50px;
  margin-bottom: 12px;
}

.main_paragraph > p {
  font-size: 17px;
  margin-bottom: 7px;
}

.text {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  color: #726464;
  font-size: 30px;
}

.backImg {
  margin: 0;
  padding: 0;
  z-index: 0;
  height: 600px;
  width: 100%;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.button {
  border-radius: 20px;
}

.core_service {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 5px;
  font-size: 30px;
}

.core_service_box {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #726464;
}

.Img {
  width: 170px;
  height: 80%;
}

.img_box {
  margin: auto;
  width: 960px;
  display: flex;
  justify-content: space-around;
  height: 150px;
  margin-top: 40px;
  margin-bottom: 160px;
  color: #726464;
  text-align: center;
}
.img_box > div > p {
  font-size: 12px;
}
@media (max-width: 790px) {
  .main_paragraph > h1 {
    font-size: 25px;
    margin-bottom: 6px;
  }

  .main_paragraph > p {
    font-size: 10px;
    margin-bottom: 7px;
  }
  .button {
    width: 50%;
  }
}
