.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.middle_menu {
  height: 25px;
  padding: 0px 20px;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.content_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  background-color: #f7f7f7;
  padding: 10px 10px;
}

.content_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 0px;
  border-top: 1px solid black;
}

.content_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  background-color: #f8f8f8;
  border-radius: 10px;
  height: 90px;
  cursor: pointer;
}

.content_box:hover {
  background-color: #d9d7d7;
}

.title {
  width: 95%;
}

.content {
  width: 95%;
  font-family: 'NanumSquareRoundR';
  font-size: 14px;
}

.date {
  width: 95%;
  font-size: 12px;
  color: #aaaaaa;
}

.delete:hover {
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(119, 119, 119);
}
