.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  background-color: #ffffff;
  border-radius: 5px;
  min-height: 50px;
  cursor: pointer;

  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.container:hover {
  border: 2px solid #367cde;
}

.title {
  width: 95%;
  padding: 15px;
}

.content {
  width: 95%;
  font-family: 'NanumSquareRoundR';
  padding: 10px;
  font-size: 18px;
}

.answer {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 95%;
}
