.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  background-color: #ffffff;
  border-radius: 10px;
  height: 90px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.container:hover {
  border: 2px solid #367cde;
}

.title {
  width: 95%;
  font-size: 20px;
}

.contents {
  width: 95%;
  font-family: 'NanumSquareRoundR';
  margin-top: 10px;
  font-size: 14px;
}
.date {
  display: flex;
  font-size: 14px;
  color: #858585;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 95%;
}

@media (max-width: 790px) {
  .container {
    height: 120px;
  }
}
