.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.search_bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.paging {
  display: flex;
  justify-content: center;
}
.new_post {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.content_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 100%;
  min-height: 500px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.admin_content_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 5px 2px #f1f1f1;
  width: 100%;
  min-height: 500px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.8px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.content {
  height: 90%;
}

.like {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.answer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.answer_write {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.answer_write > textarea {
  width: 90%;
  height: 60px;
  margin-right: 5px;
}

.button_box {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.textarea {
  height: 100px;
}
