* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: white;
  overflow: scroll;
  /* font-family: 'NanumSquareNeo-dEb'; */
  font-family: 'NanumSquareNeo-dEB';
}

@font-face {
  font-family: 'NanumSquareRoundR';
  font-weight: 200;
  src: url('../public/fonts/NanumSquareRoundR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareNeo-dEb';
  font-weight: 200;
  src: url('../public/fonts/NanumSquareNeo-dEB.ttf') format('truetype');
}
